	<%- include('../includes/topo') %>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-8">
	    			<div class="noticia_wrapper">
		    			<span class="noticia_autor">Por <%=noticias[0].autor%></span>
		    			<a href="/noticia?id=<%=noticias[0].id%>" class="noticia_titulo"><%=noticias[0].titulo%></a>
		    			<span class="noticia_data"><%=noticias[0].dt_criacao%></span>
		    			<br />
		    			<p class="noticia_resumo">
		    				<%=noticias[0].resumo%>
		    			</p>
		    		</div>
		    	</div>

	    		<div class="col-md-4">
	    			<div class="noticia_wrapper">
		    			<span class="noticia_autor">Por <%=noticias[1].autor%></span>
		    			<a href="/noticia?id=<%=noticias[1].id%>" class="noticia_titulo"><%=noticias[1].titulo%></a>
		    			<span class="noticia_data"><%=noticias[1].dt_criacao%></span>
		    			<br />
		    			<p class="noticia_resumo">
		    				<%=noticias[1].resumo%>
		    			</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="row">
				<% for(var i = 2; i< noticias.length;i++) { %>
					<div class="col-md-4">
						<div class="noticia_wrapper">
							<span class="noticia_autor">Por <%=noticias[i].autor%></span>
							<a href="/noticia?id=<%=noticias[i].id%>" class="noticia_titulo"><%=noticias[i].titulo%></a>
							<span class="noticia_data"><%=noticias[i].dt_criacao%></span>
							<br />
							<p class="noticia_resumo">
								<%=noticias[i].resumo%>
							</p>
						</div>
					</div>
	    		<%}%>
	    	</div>

	    	<div class="row ver_mais">
	    		<button type="button" class="btn btn-default"><a href="/noticias">Ver todas as notícias</a></button>
	    	</div>

	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>